<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>{{ page.title }}</title>
  <meta name="author" content="{{ site.author }}" />
  <meta name="description" content="QuickHub is a tiny OS X application for GitHub which stands in your status bar" />
  <link rel="alternate" type="application/rss+xml" href="http://feeds.feedburner.com/{{ site.feedburner }}" />
  <link rel="stylesheet" href="{{ site.url }}/css/bootstrap.css">
  <link rel="stylesheet" href="{{ site.url }}/css/lightbox.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="{{ site.url }}/css/qh.css" type="text/css" media="screen" />

  <!-- orbit -->
  <link rel="stylesheet" href="{{ site.url }}/extras/orbit/orbit.css">

  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
  <script type="text/javascript" src="{{ site.url }}/js/jquery.tweet.js" charset="utf-8"></script>
  <script src="{{ site.url }}/extras/orbit/jquery.orbit.js" type="text/javascript"></script>
  <script type="text/javascript" src="{{ site.url }}/js/application.js"></script>

	<!-- lightbox -->
	<script src="{{ site.url }}/js/prototype.js" type="text/javascript"></script>
	<script src="{{ site.url }}/js/scriptaculous.js?load=effects,builder" type="text/javascript"></script>
	<script src="{{ site.url }}/js/lightbox.js" type="text/javascript"></script>

	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', '{{ site.ga }}']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
</head>
<body style="padding-top: 60px;">
<a name="top"></a>	

<a href="https://github.com/chamerling/QuickHubApp/" target="_blank"><img style="position: fixed; top: 0; left: 0; border: 0; z-index:10001;" src="https://s3.amazonaws.com/github/ribbons/forkme_left_red_aa0000.png" alt="Fork me on GitHub"></a>

<div class="topbar">
      <div class="topbar-inner">
        <div class="container">
          <h3><a href="{{ site.url }}">{{ site.title }}</a></h3>
          <ul class="nav">
            <li><a href="{{ site.url }}/news.html">News</a></li>
            <li><a href="{{ site.url }}/pages/documentation.html">Documentation</a></li>
            <li><a href="{{ site.url }}/pages/releasenotes.html">Release Notes</a></li>
            <li><a target="_blank" href="https://github.com/chamerling/QuickHubApp/issues">Issues</a></li>
            <li><a href="mailto:hello@quickhubapp.com">Contact</a></li>
            <li><a target="_blank" href="https://github.com/chamerling/QuickHubApp/releases/download/1.7-beta1/QuickHub-1.7-beta1.zip">Download</a></li>
          </ul>
        </div>
      </div>
    </div>

<div class="container" style="width:800px;">

{{ content }}

</div>

<footer class="footer">
    <div class="container">
      <p align="center"><a href="http://github.com/chamerling">@chamerling</a></p>
      <p align="center">Code licensed under the <a href="http://opensource.org/licenses/MIT" target="_blank">MIT License</a>.</p>
    </div>
</footer>

</body>
</html>
